@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

:root{
    --line-border-fill : #f69e07;
    --line-border-empty :#c1bbbb;
}

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(31, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before{
    content: "";
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 5px;
    width: 100%;
    z-index: -1;
}

.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 5px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle{
    background-color: #d6d4d4;
    color: #999;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active{
    border-color: var(--line-border-fill);
    border-width: 5px;
}

.btn{
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 10px;
    margin: 5px;
    font-size: 15px;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}